
h1{
    color : rgb(36, 224, 32);   
    text-align: center; 
}
h2{
    color : blue;
    
}
p{
    color : rgb(0, 0, 0);
    text-align: justify;
} 


article img {
    width: 100px; 
    height: auto;   
    border-radius: 10px; 
    box-shadow: 1px 5px 5px rgba(0,0,0,0.5);

}
article{
    text-align: center;
}

time{
    font-size: 10px;
    font-style: oblique;
}
img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 1px 5px 5px rgba(0,0,0,0.5);
}
