
h3{
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;

}
h4{
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
}
p{
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    color: #ffffff;
    font-weight: lighter;
} 

.post-container {
    border-radius: 10px; /* Bordes redondeados */
    color: #ffffff; /* Texto blanco */
    font-family: 'Arial', sans-serif;
    overflow: hidden; /* Si el contenido sobrepasa, se esconde */
    width: 264px;
    max-width: 100%;
    height: 540px;
    box-sizing: border-box;
    align-content: center;
    padding-right: 40px;
    padding-left: 20px;
}

.post-header h3 {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: bold;
    margin: 0 0 1rem 0;
    word-wrap: break-word; 
}

.post-content {
    display: flex; /* Para organizar las columnas en línea */
    flex-wrap: wrap; /* Si no hay espacio, las columnas saltan a la siguiente línea */
    gap: 1rem; /* Espacio entre las columnas */
    
}
.column {
    flex: 1 1 30%; /* Las columnas se ajustarán a un 30% del contenedor */
    min-width: 200px; /* Asegura que las columnas no sean más pequeñas que esto */
    max-width: 100%; /* Limita el ancho máximo */
    word-wrap: break-word; /* Asegura que el texto largo no se salga */
    overflow-wrap: break-word; /* Evita desbordamiento de palabras */
}
.column h4 {
    margin-bottom: 0.5rem;
}

.column p {
    line-height: 1.6;
    margin: 0;
    overflow: hidden; /* Oculta cualquier desbordamiento */
    text-overflow: ellipsis; /* Corta el texto con puntos suspensivos si es necesario */
}

