/* Contenedor de todas las publicaciones */
.row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Número automático de columnas basado en el tamaño mínimo de las tarjetas */
    gap: 16px; /* Espacio entre las tarjetas */
    justify-content: center; /* Centra las tarjetas horizontalmente */
    border-radius: 10px;
}

/* Contenedor individual para cada tarjeta */
.posts-container {
    box-sizing: border-box; /* Incluye el padding y border en el ancho y alto total */
}

/* Estilo para cada tarjeta */
.card {
    position: relative;
    height: 540px;
    width: 264px;
    overflow: hidden;
}

/* Estilo para el lado de la tarjeta */
.card__side {
    font-size: 2rem;
    height: 100%;
    transition: opacity 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 1.5rem 4rem rgba(255, 255, 255, 0.15);
    z-index: 1;
}

/* Lado frontal de la tarjeta */
.card__side--front {
    color: #000; /* Color de texto para el lado frontal */
    background-color: #ffffff;
    z-index: 2;
    opacity: 1;
}

/* Lado posterior de la tarjeta */
.card__side--back {
    background-color: rgba(18, 37, 49, 0.8); /* Fondo translúcido para el lado posterior */
    text-align: justify;
    background-color: #122531;
    z-index: 3;
    opacity: 0;
    justify-content: center;
}

/* Hover para la tarjeta */
.card:hover .card__side--front {
    opacity: 0.3;
}

.card:hover .card__side--back {
    opacity: 0.6;
}

/* Estilos para la línea separadora */
.curved-hr {
    border: none;
    height: 2px;
    background-image: linear-gradient(to right, transparent, #F15C2D, transparent);
    margin: 40px 0;
}

/* Estilo para cada post */
.post-item {
    background-color: #f9f9f9; /* Color de fondo de cada post */
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para cada post */
    border-radius: 8px; /* Bordes redondeados */
    box-sizing: border-box;
}
img{
border-radius: 10px;
}