/* Contenedor de todas las publicaciones */
.row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Número automático de columnas basado en el tamaño mínimo de las tarjetas */
    gap: 16px; /* Espacio entre las tarjetas */
    justify-content: center; /* Centra las tarjetas horizontalmente */
    border-radius: 10px;
}

/* Contenedor individual para cada tarjeta */
.posts-container {
    box-sizing: border-box; /* Incluye el padding y border en el ancho y alto total */
}

/* Estilo para cada tarjeta */
.card {
    perspective: 150rem;
    position: relative;
    height: 30rem;
}

/* Estilo para el lado de la tarjeta */
.card__side {
    font-size: 2rem;
    height: 100%;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    box-shadow: 0 1.5rem 4rem rgba(255, 255, 255, 0.15);
}

/* Lado frontal de la tarjeta */
.card__side--front {
    color: #000; /* Color de texto para el lado frontal */
    background-color: #ffffff;
}

/* Lado posterior de la tarjeta */
.card__side--back {
    background-color: rgb(216, 205, 205);
    transform: rotateY(180deg);
    text-align: justify;
}

/* Hover para la tarjeta */
.card:hover .card__side--front {
    transform: rotateY(180deg);
}

.card:hover .card__side--back {
    transform: rotateY(0);
}

/* Estilos para la línea separadora */
.curved-hr {
    border: none;
    height: 2px;
    background-image: linear-gradient(to right, transparent, #F15C2D, transparent);
    margin: 40px 0;
}

/* Estilo para cada post */
.post-item {
    background-color: #f9f9f9; /* Color de fondo de cada post */
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para cada post */
    border-radius: 8px; /* Bordes redondeados */
    box-sizing: border-box;
}
