<header>
  <nav>
    <a routerLink="/home"><img src="https://mushroomsoft-it.com/assets/headers/logo.png" alt="" width="150"></a>
    <ul>
      <li ><a routerLink="/home">HOME</a></li>
      <li ><a routerLink="/posts">POSTS</a></li>
    </ul>
  </nav>
</header>
<body>
  <main>
    <router-outlet></router-outlet> 
  </main>
  
  <footer>
    <div class="footer-content">
      <div class="footer-info">
        <h2>Mushroomsoft-it</h2>
        <p>Innovación y tecnología al alcance de todos. Creando soluciones digitales para un futuro más brillante.</p>
        <p>Contacto: <a class="enlace" href="https://mushroomsoft-it.com" target="_blank">https://mushroomsoft-it.com</a> | Teléfono: +123 456 7890</p>
      </div>
      <p>&copy; 2024 Mi Aplicación Web. Todos los derechos reservados.</p>
    </div>
  </footer>
  
</body>
